* {
  font-family: 'Roboto', sans-serif;
}

/*#home {
background-position: auto;
padding-top: 1rem; 
background-attachment: fixed;
background: -webkit-linear-gradient(top, #e5ebeb, #b7cbc9);
background: linear-gradient(top, #e5ebeb, #b7cbc9);
}
*/


.table-title {
  font-size: 1.5em;
}
.table {
  min-width: 100%;
  border-collapse: collapse;
}
.table tbody tr:hover,
.table tbody tr:focus {
  background-color: rgba(63, 81, 181, 0.2);
  color: rgba(0, 0, 0, 0.6);
}
.table tbody tr:nth-child(1):hover,
.table tbody tr:nth-child(1):focus {
  cursor: default;
  background-color: rgba(63, 81, 181, 0);
}
.table tbody tr:nth-child(even):hover,
.table tbody tr:nth-child(even):focus {
  background-color: rgba(63, 81, 181, 0.05);
}
.table th {
  background-color: #4f93ce;
  color: #ffffff;
  font-size: 2em;
  padding-left: 15px;
}
.table tr {
  white-space: nowrap;
  font-size: 0.8em;
  padding: 16px 16px 16px 0;
  height: 72px;
}
.table tr td {
  padding-left: 16px;
  font-size: 1.2em;
}
.table tr:nth-child(1) {
  border-bottom: 1px solid #e6e6e6;
  color: #828282;
  text-align: left;
  font-size: 0.75em;
  font-weight: 700;
  padding: 16px 16px 16px 0;
}
.table tr:nth-child(1) a {
  text-decoration: none;
  color: inherit;
  font-size: 1.5em;
  font-weight: 300;
}
.table tr:nth-child(1) a:hover {
  color: black;
}
.table .can-be-sorted {
  opacity: 0.4;
}
.table .can-be-sorted span {
  margin-right: -5px;
}
.table .sortationActive {
  color: black;
}
.table .pointer {
  cursor: pointer;
}

.table-footer {
  border-top: 1px solid #e6e6e6;
  background-color: rgba(63, 81, 181, 0.05);
  padding-top: 6px;
  padding-bottom: 6px;
}

.table-header {
  margin-top: 15px;
}


.loading-animation {
  -webkit-transition: all linear 1s;
  transition: all linear 1s;
}

.loading-animation.ng-hide {
  opacity: 0;
}
