* {
  font-family: 'Roboto', sans-serif;
}

.html {
background-position: absolute;
padding-top: 1em; 
background-attachment: fixed;
background: -webkit-linear-gradient(top, #e5ebeb, #b7cbc9);
background: linear-gradient(top, #e5ebeb, #b7cbc9);
}


/* 
==========================================================================
Buttons
==========================================================================
*/


.button {
    text-align: center;
}

.button {
    position: relative;
    background: currentColor;
    border: 1px solid currentColor;
    font-size: 1.1rem;
    color: #4f93ce;
    margin: 3rem 0;
    padding: 0.75rem 3rem;
    cursor: pointer;
    -webkit-transition: background-color 0.28s ease, color 0.28s ease, box-shadow 0.28s ease;
    transition: background-color 0.28s ease, color 0.28s ease, box-shadow 0.28s ease;
    overflow: hidden;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.button span {
    color: #fff;
    position: relative;
    z-index: 1;
}
.button::before {
    content: '';
    position: absolute;
    background: #071017;
    border: 50vh solid #1d4567;
    width: 30vh;
    height: 30vh;
    border-radius: 50%;
    display: block;
    top: 50%;
    left: 50%;
    z-index: 0;
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
}
.button:hover {
    color: #337ab7;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
}
.button:active::before, .button:focus::before {
    -webkit-transition: opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
    transition: opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
    transition: transform 1.12s ease, opacity 0.28s ease 0.364s;
    transition: transform 1.12s ease, opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    opacity: 0;
}
.button:focus {
    outline: none;
}

.button .home-button {
    position: absolute !important;
    padding: 2px, 2px, 2px, 2px !important; 
}

.button .new_ans-button {
    position: absolute !important;
    margin: 20px, 2px, 2px, 2px !important;
}


/* 
==========================================================================
Question-table
==========================================================================
*/
.q-table-title h1 {
    color: #4f93ce;
    font-size: 3rem;
    text-align: center;
    margin: 0 0 0em;
}

.q-table-title h2 {
    color: #4f93ce;
    font-size: 2rem;
    text-align: center;
    margin: 0 0 0.5em;
}

.q-table {
  margin-top: 5em;
  min-width: 100%;
  border-collapse: collapse;
}
.q-table tbody tr:hover,
.q-table tbody tr:focus {
  background-color: rgba(63, 81, 181, 0.2);
  color: rgba(0, 0, 0, 0.6);
}
.q-table tbody tr:nth-child(1):hover,
.q-table tbody tr:nth-child(1):focus {
  cursor: default;
  background-color: rgba(63, 81, 181, 0);
}
.q-table tbody tr:nth-child(even):hover,
.q-table tbody tr:nth-child(even):focus {
  background-color: rgba(63, 81, 181, 0.05);
}
.q-table th {
  background-color: #4f93ce;
  color: #ffffff;
  font-size: 2em;
  padding-left: 15px;
}
.q-table tr {
  white-space: nowrap;
  font-size: 0.8em;
  padding: 16px 16px 16px 0;
  height: 72px;
}
.q-table tr td {
  padding-left: 16px;
  font-size: 1.2em;
}
.q-table tr:nth-child(1) {
  border-bottom: 1px solid #e6e6e6;
  color: #828282;
  text-align: left;
  font-size: 0.75em;
  font-weight: 700;
  padding: 16px 16px 16px 0;
}
.q-table tr:nth-child(1) a {
  text-decoration: none;
  color: inherit;
  font-size: 1.5em;
  font-weight: 300;
}
.q-table tr:nth-child(1) a:hover {
  color: black;
}
.q-table .can-be-sorted {
  opacity: 0.4;
}
.q-table .can-be-sorted span {
  margin-right: -5px;
}
.q-table .sortationActive {
  color: black;
}
.q-table .pointer {
  cursor: pointer;
}

.q-table-footer {
  border-top: 1px solid #e6e6e6;
  background-color: rgba(63, 81, 181, 0.05);
  padding-top: 6px;
  padding-bottom: 6px;
}

.q-table-header {
  margin-top: 15px;
}


.loading-animation {
  -webkit-transition: all linear 1s;
  transition: all linear 1s;
}

.loading-animation.ng-hide {
  opacity: 0;
}




/* 
==========================================================================
Answer-table
==========================================================================
*/
.ans-table-title h1 {
    color: #4f93ce;
    font-size: 3rem;
    text-align: center;
    margin: 0 0 0em;
}

.ans-table-title h2 {
    color: #4f93ce;
    font-size: 2rem;
    text-align: center;
    margin: 0 0 0.5em;
}

.ans-table {
  margin-top: 5em;
  min-width: 100%;
  border-collapse: collapse;
}
.ans-table tbody tr:hover,
.ans-table tbody tr:focus {
  background-color: rgba(63, 81, 181, 0.2);
  color: rgba(0, 0, 0, 0.6);
}
.ans-table tbody tr:nth-child(1):hover,
.ans-table tbody tr:nth-child(1):focus {
  cursor: default;
  background-color: rgba(63, 81, 181, 0);
}
.ans-table tbody tr:nth-child(even):hover,
.ans-table tbody tr:nth-child(even):focus {
  background-color: rgba(63, 81, 181, 0.05);
}
.ans-table th {
  background-color: #4f93ce;
  color: #ffffff;
  font-size: 2em;
  padding-left: 15px;
}
.ans-table tr {
  white-space: nowrap;
  font-size: 0.8em;
  padding: 16px 16px 16px 0;
  height: 72px;
}
.ans-table tr td {
  padding-left: 16px;
  font-size: 1.2em;
}
.ans-table tr:nth-child(1) {
  border-bottom: 1px solid #e6e6e6;
  color: #828282;
  text-align: left;
  font-size: 0.75em;
  font-weight: 700;
  padding: 16px 16px 16px 0;
}
.ans-table tr:nth-child(1) a {
  text-decoration: none;
  color: inherit;
  font-size: 1.5em;
  font-weight: 300;
}
.ans-table tr:nth-child(1) a:hover {
  color: black;
}
.ans-table .can-be-sorted {
  opacity: 0.4;
}
.ans-table .can-be-sorted span {
  margin-right: -5px;
}
.ans-table .sortationActive {
  color: black;
}
.ans-table .pointer {
  cursor: pointer;
}

.ans-table-footer {
  border-top: 1px solid #e6e6e6;
  background-color: rgba(63, 81, 181, 0.05);
  padding-top: 6px;
  padding-bottom: 6px;
}

.ans-table-header {
  margin-top: 15px;
}


.loading-animation {
  -webkit-transition: all linear 1s;
  transition: all linear 1s;
}

.loading-animation.ng-hide {
  opacity: 0;
}
