<!DOCTYPE html>

<html>
    <link rel="stylesheet" href="/static/new_form_style.css">
    <head>
        <link rel="stylesheet" type="text/css"
                href="https://fonts.googleapis.com/css?family=Barrio">
        <title> New Answer </title>
    </head>
    <div class="home-button">
        <a href="/">
            <button class="button" type="button"><span>Home</span></button>
        </a>
    </div>
    <div class="container"> 
    <body>
        <h1>{{ view_questions[0][0] }}</h1>
        <h2>{{ view_questions[0][1] }}</h2>
        <form action="/question/new-answer/{{ q_id }}" method="POST">
            <h1> Type your answer: </h1>
                <div class="form-group">
                    <textarea name="answer_message" minlength="10" required="required"></textarea></p>
                    <label class="control-label" for="textarea">Type your answer here...</label><i class="bar"></i>
                </div>
            <div class="button-container">
                <button class="button" type="submit" value="submit"><span>Submit</span></button>
            </div>
        </form>
    </body>
    </div>
</html>
