<!DOCTYPE html>

<html>
    <link rel="stylesheet" href="/static/new_form_style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <div class="form-style-8">
    <head>
        <title> New Answer </title>
    </head>
    <body>
        <a href="/">Home</a>
        <h1>{{ view_questions[0][0] }}</h1>
        <h2>{{ view_questions[0][1] }}
        <h3> Give a new answer! </h3>
        <form action="/question/new-answer/{{ q_id }}" method="POST">
            <p><h4> Type your answer: </h4><br>
            <textarea id="answer_message" name="answer_message" rows="5" cols="20" minlength="10" placeholder="Type your answer here..." required autofocus></textarea></p>
            <input type="submit" value="Submit" name="Submit" class="button">
        </form>
    </body>
    </div>
</html>
