<!DOCTYPE html>

    <html>
        <link rel="stylesheet" href="/static/home_style.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <head>
            <title>Ask Mate v1.0-Alpha</title>
        </head>
        <body>
            <div align="middle" class="table-title">
                <h1 align="middle">AskMate</h1>
                <h2 align="middle">Question list</h2>
            </div>
            <a href="/question/new">New question</a>
            <table>
                <tr>
                    {% for item in table_headers %}
                        <th class="text-left">{{ item }}</th>
                    {% endfor %}
                </tr>
                {% for row in view_questions %}
                    <tr>
                        {% for question in row %}
                            <td>{{ question }}</td>
                        {% endfor %}
                        <td align="middle">
                            <a href="/question/{{ view_questions[0][0] }}">View</a>
                        </td>
                        <td align="middle">
                            <a href="/question/{{ view_questions[0][0] }}/delete">Delete</a>
                        </td>
                        <td align="middle">
                            <a href="/question/{{ view_questions[0][0] }}/vote-up">Vote + 1</a>
                        </td>
                        <td align="middle">
                            <a href="/question/{{ view_questions[0][] }}/vote-down">Vote - 1</a>
                        </td>
                    </tr>        
                {% endfor %}
            </table>
        </body>
    </html>