<!DOCTYPE html>

    <html>
        <link rel="stylesheet" href="/static/home_style.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <head>
            <title>Ask Mate v1.0-Alpha</title>
        </head>
        <body>
            <div align="middle" class="table-title">
                <h1 align="middle">AskMate</h1>
                <h2 align="middle">Question list</h2>
            </div>
            <form action="/question/new" method="GET">
                <input id="ask_new_question" type="submit" value="Ask New Question" class="button" href="/question/new">
            </form>
            <table>
                <tr>
                    {% for item in table_headers %}
                        <th class="text-left">{{ item }}</th>
                    {% endfor %}
                </tr>
                {% for row in view_questions %}
                    <tr>
                        {% for question in row %}
                            <td>{{ question }}</td>
                        {% endfor %}
                        <td align="middle">
                            <form action="/question/{{ row[0] }}" method="POST">
                                <input  id="view_button" name="view_button" type="image" src="/static/img/view.png" alt="Submit" width="60" value="{{ row[0] }}">
                            </form>
                        </td>
                        <td align="middle">
                            <form action="/question/<q_id>/delete" method="POST">
                                <input  id="delete_button" name="delete_button" type="image" src="/static/img/bin.png" alt="Submit" width="60" value="{{ row[0] }}">
                            </form>
                        </td>
                        <td align="middle">
                            <form action="/question/<q_id>/vote-up" method="POST">
                                <input  id="vote_up_button" name="vote_up_button" type="image" src="/static/img/vote_up.png" alt="Submit" width="60" value="{{ row[0] }}">
                            </form>
                        </td>
                        <td align="middle">
                            <form action="/question/<q_id>/vote-down" method="POST">
                                <input  id="vote_down_button" name="vote_down_button" type="image" src="/static/img/vote_down.png" alt="Submit" width="60" value="{{ row[0] }}">
                            </form>
                        </td>
                    </tr>        
                {% endfor %}
            </table>
        </body>
    </html>