<!DOCTYPE HTML>

<html class="html">
    <link rel="stylesheet" href="/static/question_style.css">
    <head>
        <link rel="stylesheet" type="text/css"
                href="https://fonts.googleapis.com/css?family=Raleway">
        <title> Question </title>
    </head>
    <div class="home-button">
        <a href="/">
            <button class="button" type="button"><span>Home</span></button>
        </a>
    </div>
    <div class="container">
    <body>
        <table class="q-table">
            <h3>Question</h3>
            <tr>
                {% for head in q_table_headers %}
                    <th class="question_head">{{ head }}</th>
                {% endfor %}
            </tr>
                <tr>
                    {% for question in view_question %}
                    <tr>
                        {% for data in question %}
                            <td>{{ data }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tr>
            </table>
            <table class="ans-table">
                <h3>Answers</h3>
                <tr>
                    {% for head in a_table_headers %}
                        <th class="answer_head">{{ head }}</th>
                    {% endfor %}
                </tr>
                <tr>
                    {% for answer in view_answers %}
                    <tr>
                        {% for data in answer %}
                            <td>{{ data }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tr>
            </table>
            <div class="new_ans-button">
                <a href="/question/{{ q_id }}/new-answer">
                    <button class="button"><span>New answer</span></button>
                </a>
            </div>
    </body>
    </div>
</html>